In [1]:
import pandas as pd
import numpy as np

In [2]:
df_byu_b = pd.read_excel('brigham-young-businesses.xlsx')
df_byu_r = pd.read_excel('brigham-young-reviews.xlsx')
df_psu_b = pd.read_excel('penn-state-businesses.xlsx')
df_psu_r = pd.read_excel('penn-state-reviews.xlsx')
df_uiuc_b = pd.read_excel('uiuc-businesses.xlsx')
df_uiuc_r = pd.read_excel('uiuc-reviews.xlsx')
df_iu_b = pd.read_excel('iu-businesses-sample.xlsx')
df_iu_r = pd.read_excel('iu-reviews-sample.xlsx')

In [3]:
display(df_byu_b.head(2))
display(df_byu_r.head(2))
display(df_psu_b.head(2))
display(df_psu_r.head(2))
display(df_uiuc_b.head(2))
display(df_uiuc_r.head(2))
display(df_iu_b.head(2))
display(df_iu_r.head(2))

,query,name,site,type,subtypes,category,phone,full_address,borough,street,...,reservation_links,booking_appointment_link,menu_link,order_links,location_link,place_id,google_id,cid,reviews_id,located_google_id
0,ChIJqyXyo6GQTYcRXGfgeIpqc_I,Alpine Village,https://myalpinevillage.com/,Student housing center,"Student housing center, Apartment building, Ap...",Student housing center,+1 801-623-6093,"1378 Freedom Blvd 200 W, Provo, UT 84604, Unit...",Carterville,1378 Freedom Blvd 200 W,...,NaN,NaN,NaN,NaN,https://www.google.com/maps/place/Alpine+Villa...,ChIJqyXyo6GQTYcRXGfgeIpqc_I,0x874d90a1a3f225ab:0xf2736a8a78e0675c,17470424522466289500,-976319551243262116,NaN
1,ChIJGbnTbamQTYcRtZfBrL52jhs,Palladium Apartments,https://www.palladiumprovo.com/,Housing complex,Housing complex,Housing complex,+1 385-200-0510,"538 N Freedom Blvd Unit, Provo, UT 84601",North Park,538 N Freedom Blvd Unit,...,NaN,NaN,NaN,NaN,https://www.google.com/maps/place/Palladium+Ap...,ChIJGbnTbamQTYcRtZfBrL52jhs,0x874d90a96dd3b919:0x1b8e76beacc197b5,1985655047031199669,1985655047031199669,NaN

,query,name,google_id,place_id,location_link,reviews_link,reviews,rating,review_id,review_pagination_id,...,review_rating,review_timestamp,review_datetime_utc,review_likes,reviews_id,reviews_per_score_1,reviews_per_score_2,reviews_per_score_3,reviews_per_score_4,reviews_per_score_5
0,ChIJqyXyo6GQTYcRXGfgeIpqc_I,Alpine Village,0x874d90a1a3f225ab:0xf2736a8a78e0675c,ChIJqyXyo6GQTYcRXGfgeIpqc_I,https://www.google.com/maps/place/Alpine+Villa...,https://search.google.com/local/reviews?placei...,481,2.9,ChdDSUhNMG9nS0VJQ0FnSUQ1OXRHZnNnRRAB,CAESBkVnSUlBUQ==,...,3,1698151603,10/24/2023 12:46:43,0,-976319551243262116,200,33,31,72,145
1,ChIJqyXyo6GQTYcRXGfgeIpqc_I,Alpine Village,0x874d90a1a3f225ab:0xf2736a8a78e0675c,ChIJqyXyo6GQTYcRXGfgeIpqc_I,https://www.google.com/maps/place/Alpine+Villa...,https://search.google.com/local/reviews?placei...,481,2.9,ChZDSUhNMG9nS0VJQ0FnSUNwOUstOVpBEAE,CAESBkVnSUlBZw==,...,1,1690662626,07/29/2023 20:30:26,12,-976319551243262116,200,33,31,72,145

,query,name,site,type,subtypes,category,phone,full_address,borough,street,...,reservation_links,booking_appointment_link,menu_link,order_links,location_link,place_id,google_id,cid,reviews_id,located_google_id
0,ChIJV2hrraCozokRtlPCp8iIpzs,Park Hill Apartments,https://www.liveparkhill.com/?utm_source=Googl...,Apartment complex,"Apartment complex, Student housing center",Apartment complex,+1 814-636-8515,"478 E Beaver Ave, State College, PA 16801",NaN,478 E Beaver Ave,...,NaN,NaN,NaN,NaN,https://www.google.com/maps/place/Park+Hill+Ap...,ChIJV2hrraCozokRtlPCp8iIpzs,0x89cea8a0ad6b6857:0x3ba788c8a7c253b6,4298554764737794998,4298554764737794998,NaN
1,ChIJgTu-OpqozokROgf58b0KflQ,"College West, LLC",http://collegewestllc.com/,Apartment rental agency,Apartment rental agency,Apartment rental agency,+1 814-238-4938,"422 Clay Ln, State College, PA 16801",NaN,422 Clay Ln,...,NaN,NaN,NaN,NaN,https://www.google.com/maps/place/College+West...,ChIJgTu-OpqozokROgf58b0KflQ,0x89cea89a3abe3b81:0x547e0abdf1f9073a,6088315557176215354,6088315557176215354,NaN

,query,name,google_id,place_id,location_link,reviews_link,reviews,rating,review_id,review_pagination_id,...,review_rating,review_timestamp,review_datetime_utc,review_likes,reviews_id,reviews_per_score_1,reviews_per_score_2,reviews_per_score_3,reviews_per_score_4,reviews_per_score_5
0,ChIJV2hrraCozokRtlPCp8iIpzs,Park Hill Apartments,0x89cea8a0ad6b6857:0x3ba788c8a7c253b6,ChIJV2hrraCozokRtlPCp8iIpzs,https://www.google.com/maps/place/Park+Hill+Ap...,https://search.google.com/local/reviews?placei...,174,4.7,ChZDSUhNMG9nS0VJQ0FnSURwbWJDaUdnEAE,CAESBkVnSUlBUQ==,...,3,1692906499,08/24/2023 19:48:19,1,4298554764737794998,5,2,3,17,147
1,ChIJV2hrraCozokRtlPCp8iIpzs,Park Hill Apartments,0x89cea8a0ad6b6857:0x3ba788c8a7c253b6,ChIJV2hrraCozokRtlPCp8iIpzs,https://www.google.com/maps/place/Park+Hill+Ap...,https://search.google.com/local/reviews?placei...,174,4.7,ChdDSUhNMG9nS0VJQ0FnSURwNHEycHhBRRAB,CAESBkVnSUlBZw==,...,5,1692395550,08/18/2023 21:52:30,0,4298554764737794998,5,2,3,17,147

,query,name,site,type,subtypes,category,phone,full_address,borough,street,...,reservation_links,booking_appointment_link,menu_link,order_links,location_link,place_id,google_id,cid,reviews_id,located_google_id
0,ChIJMStDGsrXDIgRyPNO_VtZBPk,Stone Ridge Square Apartments,https://www.m2regroup.com/properties/stone-rid...,Apartment rental agency,"Apartment rental agency, Apartment complex",Apartment rental agency,+1 217-337-6567,"1714 E Colorado Ave, Urbana, IL 61802",NaN,1714 E Colorado Ave,...,NaN,NaN,NaN,NaN,https://www.google.com/maps/place/Stone+Ridge+...,ChIJMStDGsrXDIgRyPNO_VtZBPk,0x880cd7ca1a432b31:0xf904595bfd4ef3c8,17943565066977604552,-503179006731947064,NaN
1,ChIJ0yehl6XXDIgRtqPdtmcuKeU,ICON Apartment,https://www.iconchampaign.com/,Apartment building,Apartment building,Apartment building,+1 217-352-7945,"309 E Springfield Ave, Champaign, IL 61820",Midtown,309 E Springfield Ave,...,NaN,NaN,NaN,NaN,https://www.google.com/maps/place/ICON+Apartme...,ChIJ0yehl6XXDIgRtqPdtmcuKeU,0x880cd7a597a127d3:0xe5292e67b6dda3b6,16512780531715122102,-1933963541994429514,NaN

,query,name,google_id,place_id,location_link,reviews_link,reviews,rating,review_id,review_pagination_id,...,review_rating,review_timestamp,review_datetime_utc,review_likes,reviews_id,reviews_per_score_1,reviews_per_score_2,reviews_per_score_3,reviews_per_score_4,reviews_per_score_5
0,ChIJMStDGsrXDIgRyPNO_VtZBPk,Stone Ridge Square Apartments,0x880cd7ca1a432b31:0xf904595bfd4ef3c8,ChIJMStDGsrXDIgRyPNO_VtZBPk,https://www.google.com/maps/place/Stone+Ridge+...,https://search.google.com/local/reviews?placei...,78,4.5,ChZDSUhNMG9nS0VJQ0FnSUNKOXFyTkt3EAE,CAESBkVnSUlBUQ==,...,5,1687833923,06/27/2023 02:45:23,0,-503179006731947064,5,3,1,11,58
1,ChIJMStDGsrXDIgRyPNO_VtZBPk,Stone Ridge Square Apartments,0x880cd7ca1a432b31:0xf904595bfd4ef3c8,ChIJMStDGsrXDIgRyPNO_VtZBPk,https://www.google.com/maps/place/Stone+Ridge+...,https://search.google.com/local/reviews?placei...,78,4.5,ChdDSUhNMG9nS0VJQ0FnSUNKOXJYbDRRRRAB,CAESBkVnSUlBZw==,...,5,1687840790,06/27/2023 04:39:50,0,-503179006731947064,5,3,1,11,58

,query,name,site,type,subtypes,category,phone,full_address,borough,street,...,reservation_links,booking_appointment_link,menu_link,order_links,location_link,place_id,google_id,cid,reviews_id,located_google_id
0,ChIJY1yB5NJmbIgRZn7E2oF5gVQ,State On Campus Bloomington,https://stateoncampus.com/bloomington/?utm_sou...,Apartment complex,Apartment complex,Apartment complex,+1 812-645-1456,"2036 N Walnut St, Bloomington, IN 47404",NaN,2036 N Walnut St,...,NaN,https://stateoncampus.com/bloomington/contact/,NaN,https://stateoncampus.com/bloomington/contact/,https://www.google.com/maps/place/State+On+Cam...,ChIJY1yB5NJmbIgRZn7E2oF5gVQ,0x886c66d2e4815c63:0x54817981dac47e66,6089281769809673830,6089281769809673830,NaN
1,ChIJPb8SbdpnbIgR82bkOLSKtZM,The Standard at Bloomington,https://www.thestandardbloomington.com/?utm_so...,Student housing center,"Student housing center, Apartment building, Ap...",Student housing center,+1 812-416-5041,"250 E 14th St, Bloomington, IN 47408",NaN,250 E 14th St,...,NaN,NaN,NaN,NaN,https://www.google.com/maps/place/The+Standard...,ChIJPb8SbdpnbIgR82bkOLSKtZM,0x886c67da6d12bf3d:0x93b58ab438e466f3,10643565801013274355,-7803178272696277261,NaN

,query,name,google_id,place_id,location_link,reviews_link,reviews,rating,review_id,review_pagination_id,...,review_rating,review_timestamp,review_datetime_utc,review_likes,reviews_id,reviews_per_score_1,reviews_per_score_2,reviews_per_score_3,reviews_per_score_4,reviews_per_score_5
0,ChIJY1yB5NJmbIgRZn7E2oF5gVQ,State On Campus Bloomington,0x886c66d2e4815c63:0x54817981dac47e66,ChIJY1yB5NJmbIgRZn7E2oF5gVQ,https://www.google.com/maps/place/State+On+Cam...,https://search.google.com/local/reviews?placei...,191,3.5,ChZDSUhNMG9nS0VJQ0FnSUMtbE1XaWR3EAE,CAESBkVnSUlBUQ==,...,5,1680319155,04/01/2023 03:19:15,0,6089281769809673830,60,4,8,16,103
1,ChIJY1yB5NJmbIgRZn7E2oF5gVQ,State On Campus Bloomington,0x886c66d2e4815c63:0x54817981dac47e66,ChIJY1yB5NJmbIgRZn7E2oF5gVQ,https://www.google.com/maps/place/State+On+Cam...,https://search.google.com/local/reviews?placei...,191,3.5,ChZDSUhNMG9nS0VJQ0FnSUNaOC15NkhBEAE,CAESBkVnSUlBZw==,...,4,1695601041,09/25/2023 00:17:21,0,6089281769809673830,60,4,8,16,103

In [4]:
df_byu_b.to_csv('byu-businesses.csv', index=None)
df_byu_r.to_csv('byu-reviews.csv', index=None)
df_psu_b.to_csv('psu-businesses.csv', index=None)
df_psu_r.to_csv('psu-reviews.csv', index=None)
df_uiuc_b.to_csv('uiuc-businesses.csv', index=None)
df_uiuc_r.to_csv('uiuc-reviews.csv', index=None)
df_iu_b.to_csv('iu-businesses-sample.csv', index=None)
df_iu_r.to_csv('iu-reviews-sample.csv', index=None)