In [7]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
pd.set_option('display.max_columns', 100)

## Load data

Read the Excel files. These are unmodified files from Outscraper's scraped results.

The files contain Google reviews for leasing companies, apartment complexes, and student housing for three different campustowns.

- Brigham Young University (Provo, UT)
- Penn State University (University Park, PA)
- University of Illinois at Urbana Champaign (Champaign, IL)

In [3]:
df_b = pd.read_csv('businesses.csv')
df_r = pd.read_csv('reviews.csv', parse_dates = ['review_datetime_utc', 'owner_answer_timestamp_datetime_utc'])

In [4]:
display(df_b.head(2))
display(df_r.head(2))

,campus,place_id,name,site,category,borough,street,city,postal_code,state,latitude,longitude,verified
0,Brigham Young University,ChIJqyXyo6GQTYcRXGfgeIpqc_I,Alpine Village,https://myalpinevillage.com/,Student housing center,Carterville,1378 Freedom Blvd 200 W,Provo,84604,Utah,40.252607,-111.661247,True
1,Brigham Young University,ChIJGbnTbamQTYcRtZfBrL52jhs,Palladium Apartments,https://www.palladiumprovo.com/,Housing complex,North Park,538 N Freedom Blvd Unit,Provo,84601,Utah,40.240917,-111.661714,True

,place_id,review_id,author_id,author_title,review_text,review_rating,review_img_url,review_datetime_utc,owner_answer,owner_answer_timestamp_datetime_utc,review_likes
0,ChIJqyXyo6GQTYcRXGfgeIpqc_I,ChdDSUhNMG9nS0VJQ0FnSUQ1OXRHZnNnRRAB,100512067005706825621,Laura Brown,Service requests take a very long time to be r...,3,NaN,2023-10-24 12:46:43+00:00,"Dear Laura, \n\n We hear you loud and clear, t...",2023-10-24 14:56:01+00:00,0
1,ChIJqyXyo6GQTYcRXGfgeIpqc_I,ChZDSUhNMG9nS0VJQ0FnSUNwOUstOVpBEAE,102936107836751613731,Pete Haraguchi,I was thinking about giving two stars but I le...,1,https://lh5.googleusercontent.com/p/AF1QipPeIy...,2023-07-29 20:30:26+00:00,"Pete,\n\n Thank you for letting us know about ...",2023-07-29 22:46:48+00:00,12

In [5]:
df_r['author_id'].value_counts().head(10)

author_id
102348612710861589506    7
110198993908295025426    5
103654026925684314708    5
112488306677535389042    4
100521333138974362578    4
103342850229446137347    4
106641809643720930584    4
104920915517744748637    4
106195800689495927190    4
108798830676796182621    4
Name: count, dtype: int64

In [6]:
df_r[df_r['author_id'].isin(df_r['author_id'].value_counts().head(10).index)] \
    .drop(columns=['place_id', 'review_id', 'review_img_url']) \
    .sort_values('author_id')

,author_id,author_title,review_text,review_rating,review_datetime_utc,owner_answer,owner_answer_timestamp_datetime_utc,review_likes
10582,100521333138974362578,Jashwant Raj,far off from campus for students. nearby walma...,3,2017-03-28 15:24:18+00:00,"Hi Jashwant, thank you for your review! We app...",2017-03-28 16:07:11+00:00,0
7606,100521333138974362578,Jashwant Raj,best place in state College. economical rent r...,5,2017-07-19 04:42:06+00:00,NaN,NaT,0
10248,100521333138974362578,Jashwant Raj,good for grad students as its not expensive.,4,2017-03-28 15:22:30+00:00,NaN,NaT,0
7162,100521333138974362578,Jashwant Raj,best place for a student who wants to live alo...,5,2017-03-15 20:41:27+00:00,NaN,NaT,1
5302,102348612710861589506,Kyle Gill,One hundred years ago the United States entere...,5,2017-02-17 22:44:42+00:00,NaN,NaT,6
1524,102348612710861589506,Kyle Gill,5 stars for the simple fact I passed every cle...,5,2017-08-18 17:00:10+00:00,NaN,NaT,4
1864,102348612710861589506,Kyle Gill,"Unbeknownst to most Americans, liberty was act...",5,2017-02-17 22:50:57+00:00,NaN,NaT,8
4710,102348612710861589506,Kyle Gill,Most visible once every 29 days but also quite...,5,2017-02-07 23:43:55+00:00,NaN,NaT,8
4632,102348612710861589506,Kyle Gill,They changed the name from The Archipelago to ...,5,2017-03-01 23:42:34+00:00,NaN,NaT,3
2953,102348612710861589506,Kyle Gill,Not kidding with the name! You can see the bro...,5,2017-03-01 23:39:31+00:00,HA! We definitely have water near by (4 blocks...,2017-09-27 01:39:09+00:00,2
4327,102348612710861589506,Kyle Gill,A true eyesore. Said to be built on an ancient...,2,2017-06-14 16:42:23+00:00,"Hi Kyle, we do our best to keep the grounds cl...",2018-04-10 17:00:26+00:00,5
5123,103342850229446137347,David Shepard,"Decent apartments, but pretty small",4,2017-10-11 02:35:30+00:00,NaN,NaT,0
317,103342850229446137347,David Shepard,The apartments here are great for college stud...,5,2017-08-30 22:26:14+00:00,Thank you Davey! We so appreciate our resident...,2017-09-03 04:37:16+00:00,7
2272,103342850229446137347,David Shepard,"decent apartments and close to campus, but it'...",3,2016-07-06 18:44:10+00:00,NaN,NaT,1
3098,103342850229446137347,David Shepard,"The apartments aren't anything special, but it...",3,2016-07-01 17:59:10+00:00,NaN,NaT,0
4399,103654026925684314708,EJ Mercer,"The complex seems nice enough, but I didn't ap...",2,2023-06-30 02:53:17+00:00,"EJ, Sorry you had a unhappy experience touring...",2023-06-30 02:32:06+00:00,1
2762,103654026925684314708,EJ Mercer,Managed by Redstone Residential. Don't rent here.,1,2023-05-13 17:50:06+00:00,"EJ, \n\n I’m so sorry — it sounds like we real...",2023-05-13 19:24:45+00:00,3
1971,103654026925684314708,EJ Mercer,Managed by Redstone Residential. Don't rent here.,1,2023-03-28 17:53:06+00:00,NaN,NaT,0
5174,103654026925684314708,EJ Mercer,Managed by Redstone Residential. Don't rent he...,1,2023-03-28 19:56:00+00:00,"EJ,\n\n Even though it was a negative experien...",2023-03-28 21:11:36+00:00,3
428,103654026925684314708,EJ Mercer,Managed by Redstone Residential. Don't rent he...,1,2023-03-28 19:56:36+00:00,"EJ,\n\n We’d like to apologize for the negativ...",2023-03-28 21:11:47+00:00,6
10240,104920915517744748637,Deepak Agrawal,Cheaper rentals...but some of the staff is ver...,3,2017-02-13 15:41:54+00:00,"Deepak,\n\nThank you for your feedback. We wil...",2019-06-19 18:54:23+00:00,1
7605,104920915517744748637,Deepak Agrawal,Nice place to live for not so expensive rents....,4,2015-11-18 23:26:44+00:00,NaN,NaT,0
8404,104920915517744748637,Deepak Agrawal,Most of their staff is very rude. They act lik...,1,2017-02-13 15:34:31+00:00,NaN,NaT,11
9546,104920915517744748637,Deepak Agrawal,This was the place I lived in state college fo...,2,2015-11-18 23:21:45+00:00,NaN,NaT,4
3314,106195800689495927190,A,I lived here in 2018.\nMost of the management ...,4,2020-05-01 20:24:51+00:00,NaN,NaT,0
2074,106195800689495927190,A,Pros: the building is fine and the hot tub is ...,2,2018-07-27 21:44:03+00:00,NaN,NaT,7
1952,106195800689495927190,A,Customer service from this management company ...,2,2022-09-09 12:52:12+00:00,"Hey A,\n\nWe are sorry to hear that you did no...",2022-01-07 21:53:57+00:00,3
4538,106195800689495927190,A,Pros: most of the employees were impressively ...,4,2018-07-27 21:55:11+00:00,NaN,NaT,0
12703,106641809643720930584,Torie Thoman,Two words: good luck!,1,2023-09-07 03:49:32+00:00,Torie - Thanks for the feedback. If you’d like...,2023-09-07 13:03:13+00:00,0
12057,106641809643720930584,Torie Thoman,Extremely poor communication from staff,3,2023-10-06 03:03:16+00:00,NaN,NaT,0
14684,106641809643720930584,Torie Thoman,leasing here is like shaving years off of your...,1,2023-09-27 17:36:54+00:00,Torie\nI do not show that you rent with us or ...,2023-09-28 16:08:49+00:00,3
14008,106641809643720930584,Torie Thoman,This is NOT the luxury building they promote a...,1,2023-02-17 00:13:02+00:00,"Torie, \n\nOur records show you moved out in J...",2023-02-17 16:11:19+00:00,6
8772,108798830676796182621,SuperSuzyg,NaN,1,2023-03-01 04:57:03+00:00,We feel badly that you are not happy and would...,2023-03-15 05:01:40+00:00,0
9038,108798830676796182621,SuperSuzyg,Very poorly built and poorly maintained buildi...,1,2023-08-17 16:42:53+00:00,We are very sorry to see you have had a negati...,2023-08-17 18:37:34+00:00,0
9324,108798830676796182621,SuperSuzyg,Very professional--super friendly staff that i...,5,2023-08-03 16:12:02+00:00,Thank you so much for your generous review. W...,2023-08-03 17:16:06+00:00,0
7237,108798830676796182621,SuperSuzyg,Another dump that looks pretty on the outside....,1,2023-08-17 16:48:12+00:00,We are very sorry to see you have had a negati...,2023-08-17 18:37:53+00:00,0
8438,110198993908295025426,Farhan Sadique,Expensive but a good place to stay.,4,2020-07-18 20:17:55+00:00,NaN,NaT,0
8263,110198993908295025426,Farhan Sadique,"They were always nice with us, we have lived i...",5,2022-09-01 16:08:36+00:00,Hello!\n\nThank you for leaving the review! W...,2022-09-01 20:28:21+00:00,2
10528,110198993908295025426,Farhan Sadique,I've found Vairo Apartment online. I am an eas...,1,2020-07-14 03:08:17+00:00,"Farhan, we're very sorry to see this review. O...",2020-05-14 13:55:41+00:00,11
6416,110198993908295025426,Farhan Sadique,"Nice environment, I cross the road for a walk....",4,2020-10-06 13:49:41+00:00,NaN,NaT,0
7161,110198993908295025426,Farhan Sadique,Okay place to stay in comparatively cheaper re...,3,2020-07-19 20:48:41+00:00,NaN,NaT,0
10099,112488306677535389042,Ros,I forgot they marketed the memory foam mattres...,1,2019-09-25 04:55:33+00:00,"Hello Ros,\n\nWe are sorry that you feel misle...",2019-09-04 17:11:11+00:00,29
7745,112488306677535389042,Ros,The house is outdated but comfortable to live,3,2019-12-06 20:04:40+00:00,"Hi Ros,\nThank you for taking the time to shar...",2019-09-12 15:12:39+00:00,0
6507,112488306677535389042,Ros,the land lady LIED about the condition of the ...,1,2018-12-04 19:46:17+00:00,NaN,NaT,20
8377,112488306677535389042,Ros,Turned out very rude after they claimed the un...,1,2020-04-20 21:13:47+00:00,NaN,NaT,7

In [10]:
df_r['year'] = df_r['review_datetime_utc'].dt.year
df_r['month'] = df_r['review_datetime_utc'].dt.month

df_r.head(2)

,place_id,review_id,author_id,author_title,review_text,review_rating,review_img_url,review_datetime_utc,owner_answer,owner_answer_timestamp_datetime_utc,review_likes,year,month
0,ChIJqyXyo6GQTYcRXGfgeIpqc_I,ChdDSUhNMG9nS0VJQ0FnSUQ1OXRHZnNnRRAB,100512067005706825621,Laura Brown,Service requests take a very long time to be r...,3,NaN,2023-10-24 12:46:43+00:00,"Dear Laura, \n\n We hear you loud and clear, t...",2023-10-24 14:56:01+00:00,0,2023,10
1,ChIJqyXyo6GQTYcRXGfgeIpqc_I,ChZDSUhNMG9nS0VJQ0FnSUNwOUstOVpBEAE,102936107836751613731,Pete Haraguchi,I was thinking about giving two stars but I le...,1,https://lh5.googleusercontent.com/p/AF1QipPeIy...,2023-07-29 20:30:26+00:00,"Pete,\n\n Thank you for letting us know about ...",2023-07-29 22:46:48+00:00,12,2023,7