# San Francisco International Airport (SFO) Passenger Traffic Analysis

This notebook analyzes monthly passenger traffic statistics by airline at SFO, using [data from the San Francisco Open Data Portal](https://data.sfgov.org/Transportation/Air-Traffic-Passenger-Statistics/rkru-6vcg/).

**Data Source Notes:**
* Airport data is seasonal; compare period-over-period (e.g., Jan 2010 vs. Jan 2009).
* Fact and attribute field relationships are not always 1-to-1 (e.g., United Airlines passenger counts may appear in multiple attribute fields and are additive).

Let's load the data and perform initial exploration.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('air-traffic-passenger-statistics.csv')
df

,Activity Period,Activity Period Start Date,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,data_as_of,data_loaded_at
0,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,31432,2025/03/20 01:00:28 PM,2025/03/22 03:01:58 PM
1,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,31353,2025/03/20 01:00:28 PM,2025/03/22 03:01:58 PM
2,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,2518,2025/03/20 01:00:28 PM,2025/03/22 03:01:58 PM
3,199907,1999/07/01,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Deplaned,Other,Terminal 2,D,1324,2025/03/20 01:00:28 PM,2025/03/22 03:01:58 PM
4,199907,1999/07/01,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Enplaned,Other,Terminal 2,D,1198,2025/03/20 01:00:28 PM,2025/03/22 03:01:58 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37511,202501,2025/01/01,Virgin Atlantic,VS,Virgin Atlantic,VS,International,Europe,Enplaned,Other,International,A,5829,2025/03/20 01:00:30 PM,2025/03/22 03:01:58 PM
37512,202501,2025/01/01,WestJet,WS,WestJet,WS,International,Canada,Deplaned,Other,International,A,2229,2025/03/20 01:00:30 PM,2025/03/22 03:01:58 PM
37513,202501,2025/01/01,WestJet,WS,WestJet,WS,International,Canada,Enplaned,Other,International,A,2105,2025/03/20 01:00:30 PM,2025/03/22 03:01:58 PM
37514,202501,2025/01/01,ZIPAIR Tokyo Inc,ZG,ZIPAIR Tokyo Inc,ZG,International,Asia,Deplaned,Other,International,A,8421,2025/03/20 01:00:30 PM,2025/03/22 03:01:58 PM
37515,202501,2025/01/01,ZIPAIR Tokyo Inc,ZG,ZIPAIR Tokyo Inc,ZG,International,Asia,Enplaned,Other,International,A,5238,2025/03/20 01:00:30 PM,2025/03/22 03:01:58 PM