# Parental leave policies analysis using Pandas

Author: Ye Joo Park ([ypark32@illinois.edu](mailto:ypark32@illinois.edu))

- Data Source:
    - Original source: [FairyGodBoss](https://fairygodboss.com/maternity-leave-resource-center)
    - Compiled by [Maven Analytics](https://www.mavenanalytics.io/data-playground)

In [19]:
import pandas as pd
import numpy as np

In [29]:
pd.set_option('display.max_colwidth', 200)

In [30]:
dd = pd.read_csv('data_dictionary.csv')
dd

,Field,Description
0,Company,Company name
1,Industry,Company industry & sub-industry (Industry: Sub-industry)
2,Paid Maternity Leave,Paid weeks off from work for mothers after the birth of their child
3,Unpaid Maternity Leave,Unpaid weeks off from work for mothers after the birth of their child
4,Paid Paternity Leave,Paid weeks off from work for fathers after the birth of their child
5,Unpaid Paternity Leave,Unpaid weeks off from work for fathers after the birth of their child
6,NaN,"NOTE: This is user-reported data. Where users report conflicting information, consensus numbers (if any) or the median are shown. ""N/A"" means no information has been reported."

In [35]:
df = pd.read_csv('parental_leave.csv')
df.rename(columns={
    'Industry': 'Industry & Sub-industry'
}, inplace=True)
df

,Company,Industry & Sub-industry,Paid Maternity Leave,Unpaid Maternity Leave,Paid Paternity Leave,Unpaid Paternity Leave
0,Epsilon,Advertising,6.0,6.0,6.0,6.0
1,The Walt Disney Company,Arts & Entertainment,5.0,4.0,4.5,4.0
2,Guild Education,Business Services: Other,14.0,0.0,8.0,4.0
3,WeWork,Business Services: Other,14.0,2.0,16.0,4.0
4,Randstad USA,Business Services: Staffing & Outsourcing,5.0,7.0,0.0,0.0
...,...,...,...,...,...,...
1596,Xero,Technology: Software,6.0,NaN,NaN,NaN
1597,Fedex Supply Chain,Transportation: Freight & Logistics,2.0,NaN,NaN,NaN
1598,Schneider National,Transportation: Freight & Logistics,0.0,NaN,NaN,NaN
1599,HD Supply,Wholesale,14.0,NaN,NaN,NaN
1600,Merrimac Industrial Sales,Wholesale,0.0,NaN,NaN,NaN

In [36]:
df['Industry & Sub-industry'].value_counts()

Technology: Software                            160
Technology: Consumer Internet                    64
Educational Services: College & Universities     52
Advertising                                      50
Information Services: Technology                 47
                                               ...
Natural Resources: Agrochemical                   1
Nonprofit: Development                            1
Nonprofit: Humanitarian Aid Organization          1
Nonprofit: Libraries                              1
Maritime                                          1
Name: Industry & Sub-industry, Length: 185, dtype: int64

In [38]:
df['Industry'] = df['Industry & Sub-industry'].str.split(':').str[0]
df['Sub-industry'] = df['Industry & Sub-industry'].str.split(':').str[1]

In [39]:
df

,Company,Industry & Sub-industry,Paid Maternity Leave,Unpaid Maternity Leave,Paid Paternity Leave,Unpaid Paternity Leave,Industry,Sub-industry
0,Epsilon,Advertising,6.0,6.0,6.0,6.0,Advertising,NaN
1,The Walt Disney Company,Arts & Entertainment,5.0,4.0,4.5,4.0,Arts & Entertainment,NaN
2,Guild Education,Business Services: Other,14.0,0.0,8.0,4.0,Business Services,Other
3,WeWork,Business Services: Other,14.0,2.0,16.0,4.0,Business Services,Other
4,Randstad USA,Business Services: Staffing & Outsourcing,5.0,7.0,0.0,0.0,Business Services,Staffing & Outsourcing
...,...,...,...,...,...,...,...,...
1596,Xero,Technology: Software,6.0,NaN,NaN,NaN,Technology,Software
1597,Fedex Supply Chain,Transportation: Freight & Logistics,2.0,NaN,NaN,NaN,Transportation,Freight & Logistics
1598,Schneider National,Transportation: Freight & Logistics,0.0,NaN,NaN,NaN,Transportation,Freight & Logistics
1599,HD Supply,Wholesale,14.0,NaN,NaN,NaN,Wholesale,NaN
1600,Merrimac Industrial Sales,Wholesale,0.0,NaN,NaN,NaN,Wholesale,NaN

In [40]:
df['Industry'].value_counts()

Technology                     327
Finance                        112
Healthcare                      98
Educational Services            90
Retail                          79
Business Services               77
Industrial                      71
Insurance                       70
Information Services            62
Natural Resources               59
Nonprofit                       55
Advertising                     53
Consulting Services             47
Consumer Packaged Goods         44
Government                      35
Law Firm                        28
Media                           28
Hospitality                     26
Transportation                  23
Pharmaceutical                  22
Real Estate                     19
Telecommunications              19
Automotive                      16
Services                        15
Electronics                     14
Accounting Services             13
Conglomerate                    10
Aerospace                        9
Wholesale                        9
Cosmetics                        8
Publishing                       8
Arts & Entertainment             7
Defense & Space                  7
Public Relations                 6
Philanthropy                     5
Leisure, Travel & Tourism        4
Pharmacies & Drug Stores         3
Design                           3
Wellness & Fitness               3
Sports                           2
Sporting Goods                   2
Packaging                        2
Utilities                        1
Textiles                         1
Computer Software                1
Legal Services                   1
Engineering                      1
Computer & Network Security      1
Printing                         1
Maritime                         1
Name: Industry, dtype: int64